{{define "layout.html"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{block "title" .}}Librebucket{{ end }}</title>
    <link rel="stylesheet" href="/static/css/layout.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    {{block "head" .}}{{end}}
  </head>
  <body class="{{if .IsDarkMode}}dark{{else}}light{{ end }}">
    <div class="app">
      <!-- Header -->
      <header class="header">
        <div class="container">
          <div class="header-content">
            <img
              src="/static/components/img/new-librebucket-logo.svg"
              alt="Librebucket Logo"
              class="logo-icon"
            />
            <div class="logo"></div>
            <div class="auth-links">
              <a href="/login">Log in / Register</a>
            </div>
          </div>
        </div>
      </header>

      <!-- Page content -->
      <main class="main">{{block "content" .}}{{ end }}</main>

      <!-- Footer -->
      <footer class="footer">
        <div class="container">
          <div class="footer-content">
            <span>© 2025 Librebucket e.V.</span>
            <span> • </span>
            <a href="#">Terms of use</a>
            <span> • </span>
            <a href="#">Data privacy</a>
            <span> • </span>
            <a href="#">Contact Librebucket Support</a>
            <span> • </span>
            <a href="#">Blog</a>
            <span> • </span>
            <a href="#">Careers</a>
            <span> • </span>
            <a href="#">System status</a>
            <span> • </span>
            <a href="#">2004867 (Get the code!)</a>
          </div>
        </div>
      </footer>
    </div>
    {{block "scripts" .}}{{ end }}
  </body>
</html>
{{ end }}
